
@{
    ViewBag.Title = "Email Sent";
}

<h2>Email Sent</h2>
<br />
<p>Thank you for contacting us. We will get back to you within 4 business days</p>
<br /><br />

<a href="@Url.Action("Index", "About")" class="w3-bar-item w3-button">About Northwest Labs</a>
<a href="@Url.Action("ViewCallings", "Calling")" class="w3-bar-item w3-button">View Assay Test Catalog</a>
<a href="@Url.Action("ViewCallings", "Calling")" class="w3-bar-item w3-button">Log in to Customer Portal</a>
<a href="@Url.Action("SendEmail", "Home")" class="w3-bar-item w3-button">Contact Northwest Labs</a>

