
@{
    ViewBag.Title = "Request a Quote";
}

<h2>Request a Quote</h2>

<br />
<br />
@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}
<form method="post"
      action="RequestQuote">
    <div class="container">
        <span class="form-control-static"> Assay: </span> <input class="form-control" type="text" name="assay" /> <br />
        <span class="form-control-static"> Compound Name and Description: </span> <input class="form-control" type="text" name="compund" /> <br />
        <span class="form-control-static"> Compound Weight: </span> <input class="form-control" type="text" name="weight" /> <br />
        <input class="btn btn-primary" value="Add Another Assay" /><br /><br />
        <input class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>
@Html.ActionLink("Back to Customer Portal", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary btn-default" })