
@{
    ViewBag.Title = "Request a Quote";
}

<h2>Request a Quote</h2>

<br />
<br />
@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}
<form method="post"
      action="RequestQuote">
    <div class="container">
        <span class="form-control-static"> Username: </span> <input class="form-control" type="text" name="username" /> <br />
        <span class="form-control-static"> Email: </span> <input class="form-control" type="text" name="email" /> <br />
        <span class="form-control-static"> Which assay tests would you like and what are the correlating compunds: </span> <input class="form-control" type="text" name="message" /> <br />
        <input class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>
