
@{
    ViewBag.Title = "SendEmail";
}

<h2>Send us an Email!</h2>

<br />
<br />
@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}
<form method="post"
      action="SendEmail">
    <div class="container">
        <span class="form-control-static"> First Name: </span> <input class="form-control" type="text" name="firstname" /> <br />
        <span class="form-control-static"> Last Name: </span> <input class="form-control" type="text" name="lastname" /> <br />
        <span class="form-control-static"> Company: </span> <input class="form-control" type="text" name="company" /> <br />
        <span class="form-control-static"> Email: </span> <input class="form-control" type="text" name="email" /> <br />
        <span class="form-control-static"> Subject: </span> <input class="form-control" type="text" name="subject" /> <br />
        <span class="form-control-static"> Message: </span> <input class="form-control" type="text" name="message" /> <br />
        <input class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>