@model IntexNorthwestLabs.Models.User
@{
    ViewBag.Title = "CreateLogIn";
}

<h2>Thank you for creating your user login in</h2>

<a href="@Url.Action("CustomerHome", "Home", new { iCode =  Html.DisplayFor(model => model.CustomerCode) })" class="w3-bar-item w3-button">Go to Customer Home</a>

