
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br />
<p style="color: red">
    @ViewBag.error
</p>

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{

    <label for="inputUserName">User Name</label>
    @Html.TextBox("User Name", null, new { @class = "form-control" })
    <br />
    <label for="inputPassword">Password</label>
    @Html.Password("Password", null, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary"  type="submit">Login</button>
   
}

